@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
    font-family: "poppins", sans-serif;
}
body{
    background-color:var(--Light-grey) ;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.card{
    width: 60vw;
    min-height: 50vh;
    max-height: 100vh;
    display: flex;
    background-color: var(--White);
    margin: 14vh 20vw;
    border-radius: 20px 20px 150px 20px;
    flex-direction: column;
    padding-left: 2rem;
    overflow:visible;
    padding-bottom: 0.9em;
}
.set-date{
    display: flex;
    flex-direction: row;
    margin-top:1.5rem;
}
.day-set ,.month-set ,.year-set{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
#label{
    font-size: 0.4rem;
    font-weight:700;
    color: var(--Smokey-grey);
    margin-bottom:0.1rem ;
}
input{
    width:4.5rem;
    height: 2rem;
    padding-left: 0.6rem;
    outline: none;
    font-weight: 600;
    border: 1px solid var(--Light-grey);
    cursor: pointer;
    border-radius: 10px;

    
}
input[type=number] {
    -moz-appearance: textfield;
    caret-color: var(--Purple);
}

.Input:focus{
    border-color: var(--Purple);
}
.calculate{
    display: flex;
    flex-direction: row;
    align-items: center;

}
hr{
    width: 80%;
    height: 0;
    border-color:var(--Light-grey);
}
.calculator{
    background-color: var(--Purple);
    width: 2.5rem;
    height: 2.5rem;
    padding:0.5rem ;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
}
.calculator:hover{
    background-color: var(--Off-black);
}

.result{
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    margin-top: -0.5rem;
}
.Res{
    font-size: 900;
    font-size: 3rem;
    color: var(--Purple);

}
.age{
    font-style: italic;
    font-size: 3rem;
    font-weight:900;
    color: var(--Off-black);
}

.error-text{
    color: var(--Light-red);
    font-size: 0.4rem;
    font-weight: 700;
    margin-top: 0.5rem;
}
@media screen and (max-width: 450px){
    .card{
        width: 90vw;
        margin: 10vh 5vw;
        padding: 0 0.5rem 1rem;
    }
    .set-date{
        width: 100%;
    }
    .day-set ,.month-set {
        margin-right: 0.5rem;
    }
    .year-set{
        margin-right: 0;
    }

    #label{
        font-size: 0.4rem;
        letter-spacing: 0.1rem;
    }
    input{
        width: 2.7rem;
        height: 1.5rem;
        padding-left: 0.4rem;
        font-size: 0.7rem;
    } 
    .calculate{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    hr{
        width: 100%;
        position:absolute;
    }
    .calculator{
        width: 2rem;
        height: 2rem;
        position: relative;
        align-items: center;
        padding:auto;
        padding-bottom: 1rem;
        justify-content: center;
    }
    .calculator img{
        width: 1rem;
        height:1rem;
    }
    .age,.Res{
        font-size:1.7rem;
    }
    
}
@media screen and (450px < width < 1000px){
    .card{
        width: 75vw;
        margin: 10vh 25vw;
        padding: 0 0.5rem 1rem;
    }
    .set-date{
        width: 100%;
    }
    .day-set ,.month-set {
        margin-right: 0.5rem;
    }
    .year-set{
        margin-right: 0;
    }

    #label{
        font-size: 0.4rem;
        letter-spacing: 0.1rem;
    }
    input{
        width: 3rem;
        height: 1.5rem;
        padding-left: 0.4rem;
        font-size: 0.7rem;
    } 
    .calculate{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    hr{
        width: 100%;
        position:absolute;
    }
    .calculator{
        width: 2rem;
        height: 2rem;
        position: relative;
        align-items: center;
        padding:auto;
        padding-bottom: 1rem;
        justify-content: center;
    }
    .calculator img{
        width: 1rem;
        height:1rem;
    }
    .age,.Res{
        font-size:1.7rem;
    }
    
}
